:root {
    --light-accent-color: #c2f9fe;
    --accent-color: #99f5fd;
    --dark-accent-color: #8adde4;
    --darker-accent-color: #7ac4ca;
    --dark1-background: #202021;
    --darker1-background: #171616;
    --text-color: #f5f5f5;
    --profile-picture-glow: #fda199;
    --profile-picture-glow2: #ffd9d6;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    background-color: var(--dark1-background);
    color: var(--text-color);
}
header {
    background-color: var(--darker1-background);
    color: white;
    text-align: center;
    padding: 1rem 0;
    user-select: none; /* Prevent text selection */
}
header h1 {
    margin: 0;
    font-weight: 900;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #222; /* Grayish color */
    margin: 1rem 0; /* Adjust as needed */
}
.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--darker1-background);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem;
    border: 3px solid var(--profile-picture-glow);
    box-shadow: 0 0 8px var(--profile-picture-glow);
    user-select: none;
}
p {
    line-height: 1.6;
    text-align: justify;
}
.pronouns {
    text-align: center;
    color: #777; /* Grayish color */
    margin-top: 0.5rem; /* Adjust as needed */
    font-size: 0.8rem; /* Adjust as needed */
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default list padding */
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    user-select: none; /* Prevent text selection */
}
.pronouns li:not(:last-child) {
    margin-right: 0.5rem; /* Adjust as needed */
}
.special-femboy-text {
    background: linear-gradient(75deg, var(--profile-picture-glow), var(--profile-picture-glow2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold; /* Ensures the gradient is more visible */
}
.quote-of-the-day {
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: #999; /* Adjust color as needed */
    text-shadow: 0 0 10px #000;
}
.special-love-text {
    background: linear-gradient(75deg, #f97a7d, #fba7a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 0 0 10px #f97a7d; /* Adjust the color and blur radius as needed */
}

.badge {
    text-align: center;
    margin-bottom: 1rem;
}
.badge {
    max-width: fit-content;
    margin-inline: auto;
    background-color: var(--dark1-background); /* Background color */
    border-radius: 10px; /* Rounded border */
    padding: 6px;
    padding-bottom: 2px;
    padding-top: 6px;
}
.badge img {
    height: 26px; /* Adjust size as needed */
    weight: auto;
    margin: 0 4px; /* Adjust spacing between badges */
    user-select: none;
}


