header {
    background-color: var(--darker-bg);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: relative;
}

.header-text {
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
}

header .blog-text {
    position: absolute;
    left: 2rem;
}

header .socials-text {
    position: absolute;
    right: 2rem;
}