@import url('./utility.css');
@import url('./text-styles.css');
@import url('../../fonts/fonts.css');


:root {
    display: flex;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    --dark-bg: #202021;
    --darker-bg: #171616;
    --text-color: #ffffff;
    --accent-purple: #8b5cf6;
    --accent-purple-pink: #d946ef;
    --accent-pink: #fda199;
    --accent-pink-light: #ffd9d6;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Mint Grotesk', sans-serif;
    font-weight: 300;
    background-color: var(--dark-bg);
    /* background-image: url("../../img/background/back-light.png"); */
    background-position: top center;
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    color: var(--text-color);
    overflow: auto;
    box-sizing: border-box;
}

p {
    line-height: 1.6;
    text-align: justify;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main-content > .container {
    max-width: 800px;
    margin: 2rem auto 0;
    padding: 2rem;
    /* background-color: transparent; */
    background-color: var(--darker-bg) !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    position: relative;
}

.container-highlight {
    border: 2px solid rgba(253, 161, 153, 0.6);
    box-shadow: 0 0 10px rgba(253, 161, 153, 0.6),
                0 0 20px rgba(255, 217, 214, 0.2);
}

header {
    background: transparent;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.header-text {
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
}

header .blog-text {
    position: absolute;
    left: 2rem;
}

footer {
    padding: 1rem 1rem;
}
