.femboy-pronoun {
    background: linear-gradient(75deg, var(--accent-pink), var(--accent-pink-light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
}
.love-text {
    background: linear-gradient(75deg, #f97a7d, #fba7a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 0 0 10px #f97a7d;
}
.trans-text {
    background: linear-gradient(
        180deg,
        #55CDFC 0%,
        #55CDFC 30%,
        #F7A8B8 30%,
        #F7A8B8 45%,
        #FFFFFF 45%,
        #FFFFFF 55%,
        #F7A8B8 55%,
        #F7A8B8 70%,
        #55CDFC 70%,
        #55CDFC 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.footer-text {
    font-style: italic;
    font-size: 0.8rem;
}
#cest-time-military, #cest-time-standard {
    position: relative;
    font-family: monospace;
    font-size: 18px;
}