/* Light */
@font-face {
    font-family: 'Mint Grotesk';
    src: url('./MintGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'Mint Grotesk';
    src: url('./MintGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Mint Grotesk';
    src: url('./MintGrotesk-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Mint Grotesk';
    src: url('./MintGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Mint Grotesk';
    src: url('./MintGrotesk-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('./RubikMonoOne-Regular') format('ttf');
    font-weight: 300;
    font-style: normal;
}