@import url('../fonts/fonts.css');

/* Define CSS Variables */
:root {
    --light-accent-color: #c2f9fe;
    --accent-color: #99f5fd;
    --dark-accent-color: #8adde4;
    --darker-accent-color: #7ac4ca;
    --dark1-background: #202021;
    --darker1-background: #171616;
    --text-color: #ffffff;
    --profile-picture-glow: #fda199;
    --profile-picture-glow2: #ffd9d6;
}

/* Global Styles */
body {
    margin: 0;
    height: 100vh;
    font-family: 'Mint Grotesk', sans-serif;
    font-weight: normal;
    background-color: var(--dark1-background);
    color: var(--text-color);
}

/* Header Styles */
header {
    background-color: var(--darker1-background);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0 auto;
    font-weight: normal;
    user-select: none;
}

/* Line Separator */
.line {
    width: 100%;
    height: 1px;
    background-color: #222;
    margin: 1rem 0;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--darker1-background);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.container-outline-glow {
    border: 2px solid rgba(253, 161, 153, 0.6);
    box-shadow: 0 0 10px rgba(253, 161, 153, 0.6),
                0 0 20px rgba(255, 217, 214, 0.2);
}

/* Profile Picture Styles */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem;
    border: 3px solid var(--profile-picture-glow);
    box-shadow: 0 0 8px var(--profile-picture-glow);
}

.profile-wrapper {
    user-select: none;
}

/* Text Styles */
p {
    line-height: 1.6;
    text-align: justify;
}

.pronouns {
    text-align: center;
    color: #777;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.pronouns li:not(:last-child) {
    margin-right: 0.5rem;
}

.special-femboy-text {
    background: linear-gradient(75deg, var(--profile-picture-glow), var(--profile-picture-glow2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
}

.quote-of-the-day {
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: #999;
    text-shadow: 0 0 10px #000;
}

.special-love-text {
    background: linear-gradient(75deg, #f97a7d, #fba7a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 0 0 10px #f97a7d;
}

/* Badge Styles */
.badge {
    text-align: center;
    margin-bottom: 1rem;
    user-select: none;
}

.badges {
    max-width: fit-content;
    margin-inline: auto;
    background-color: var(--dark1-background);
    border-radius: 10px;
    padding: 6px 0 2px;
    user-select: none;
}

.badges img {
    height: 26px;
    width: auto;
    margin: 0 4px;
    user-select: none;
}

/* Trans Flag Text */
.trans-flag-text {
    background: linear-gradient(
        180deg,
        #55CDFC 0%,
        #55CDFC 30%,
        #F7A8B8 30%,
        #F7A8B8 45%,
        #FFFFFF 45%,
        #FFFFFF 55%,
        #F7A8B8 55%,
        #F7A8B8 70%,
        #55CDFC 70%,
        #55CDFC 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.center-text {
    text-align: center;
}

/* Link Styles */
.location-link:link, .location-link:visited, .location-link:hover, .location-link:active {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px dotted var(--profile-picture-glow);
}

.icon, .location-link, .timezone-display {
    display: inline-block;
    vertical-align: middle;
}

.location-link, .timezone-display {
    position: relative;
    padding-right: 4px;
}

#cest-time {
    position: relative;
    font-family: monospace;
    font-size: 18px;
}

.dyna-badges a, .dyna-badges img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/* Footer Styles */
.made-with-text {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-style: italic;
    padding: 0 1em;
    font-size: 0.8rem;
    background: var(--dark1-background);
}

@media (max-height: 900px) {  /* couldnt find a better way to do this, update when content gets longer lol */
    .content-wrapper {
        padding-bottom: 50px;
    }

}
