/* Imports */
@import url('../special/template.css');


.main-content {
    padding-bottom: 50px;
}


/* Profile Picture Styles */
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem;
    border: 3px solid var(--accent-pink);
    box-shadow: 0 0 8px var(--accent-pink);
    z-index: 1;
}

.profile-container {
    user-select: none;
}

/* Special Styles */
.pronouns-list {
    text-align: center;
    color: #777;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.pronouns-list li:not(:last-child) {
    margin-right: 0.5rem;
}

.daily-quote {
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: #999;
    text-shadow: 0 0 10px #000;
}

#cest-time {
    position: relative;
    font-family: monospace;
    font-size: 18px;
}

/* Badge Styles */
.badge {
    text-align: center;
    margin-bottom: 1rem;
    user-select: none;
}

.badges-container {
    max-width: fit-content;
    margin-inline: auto;
    background-color: var(--dark-bg);
    border-radius: 10px;
    padding: 6px 2px 2px;
    user-select: none;
}

.badges-container img {
    height: 26px;
    width: auto;
    margin: 0 4px;
    user-select: none;
}

/* Link Styles */
.location-url:link, .location-url:visited, .location-url:hover, .location-url:active {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px dotted var(--accent-pink);
}

.icon, .location-widget-url, .timezone-widget {
    display: inline-block;
    vertical-align: middle;
}

.location-url, .timezone-widget {
    position: relative;
    padding-right: 4px;
}

.status-badges-container a, .status-badges-container img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/* Bio Container Styles */
.bio-container p {
    text-align: center;
    font-weight: 300;
}

.bio-container ul {
    list-style-type: none;
    padding: 0;
}

.bio-container li {
    margin-bottom: 10px;
    text-align: center;
}

/* Last Update */
.last-update-text {
    font-family: monospace;
    font-size: 1.1rem;
}
.last-update-widget {
    margin-top: 2rem;
}

/* Spotify Display Styles */
.spotify-display {
    display: flex;
    flex-direction: column;
}

.spotify-display p {
    font-weight: 900;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

@media (max-width: 507px) {
    .social-links {
        flex-direction: column;
        max-width: 100%;
    }
}

.social-item {
    margin: 0 10px; /* Adjust margin as needed */
}

.link-section-header {
    margin: 0 0 9px;
}


.setup-container {
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

@media (max-width: 507px) {
    .setup-container {
        flex-direction: column;
    }
}

.setup-container h1 {
    font-size: 24px;
    margin: 20px;
}

.setup-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.setup-item {
    background-color: var(--dark-bg);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.setup-item p {
    margin: 0;
    text-align: left;
    font-size: 18px;
    width: 100%;
}

.setup-item span {
    font-weight: bold;
    color: var(--accent-pink);
}
